<ion-header>
  <ion-toolbar>
      <ion-toolbar>
        <ion-title>Que vendiste?</ion-title>
      </ion-toolbar>
      <ion-toolbar nowrap>
<ion-grid>
  <ion-row>
    <ion-col size="10">
        <ion-searchbar
    expand="block"
    class="ion-no-margin"
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
        ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
        <ion-button
    expand="block"
    type="submit"
    class="ion-no-margin"
    (click)="agregarCatalogo()"
        >Nuevo</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
      </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    

      <ion-list>
    <ion-item *ngFor="let item of items">


      <section class="full-width">
        <ion-button expand="block" size="large" >{{ item.title }}</ion-button>
      </section>

    </ion-item>
      </ion-list>
</ion-content>

